<div class="card">
  <div class="card-title-container">
    <h1 class="card-title">Citizens Bank and Citizen One Bank Homes</h1>
  </div>
  <p class="card-subtitle">
    The Home Lending Solutions divisions operate ubnder the Citizens Bank brand
    within out banking footprints: Massachusetts, Rhode Island, Connecticut, New
    Hampshire, Vermont, Newyork, New Jersey, Pennyslavia, Delaware, Ohio and
    Michigan. Outside of this footprint, we market out home lending products
    under the Citizen One Home Loans brand and actively recruit loan officers in
    the following states : Illinios, Indiana, Kentucky, MaryLand, Virginia,
    North and south Carolina,as well as in Washington ,D.C.
  </p>
</div>
