<div class="footer">
  <p class="footer-text">
    It is the policy of the citizens bank to provide equal employment and
    advancement to all collegues and applicants for employment without regard to
    race,etnicity,religion,gender ,pregnancy,age,national
    origin,sexualorientation,gender identity or expression ,disability or
    percieved disability genetic information,citizenship, veteran or military
    status,marital or domestic patner status,or any other category protected by
    federal,state and local laws.Equal Oppurtnity and Affirmative Action
    Employer Disabled/Veteran-CitizenBank is a brand nameof Citizens bank
    N.A.and each of its respective subsiadiaries.
  </p>
  <p class="footer-link">Privacy Statement | Site Map</p>
</div>
