<div class="review-container">
  <div class="review-card">
    <div class="review-image-container">
      <img
        src="../css/assets/images/review1.png"
        alt="Reviewer Image"
        class="review-image"
      />
    </div>
    <div class="review-text">
      "" Citizens Bank is in a growth node and we are planning to be for a long
      term and we are proving that by growing sales.""
    </div>
    <div class="review-textname">
      -Ed Warren, Mortgage Loan Officer in Buffalo
    </div>
  </div>

  <div class="review-card">
    <div class="review-image-container">
      <img
        src="../css/assets/images/review2.png"
        alt="Reviewer Image"
        class="review-image"
      />
    </div>
    <div class="review-text">
      "The senior management is commited to the mortage lending business on
      every level - from the top. We are all going in the same direction and
      thats what i like.""
    </div>
    <div class="review-textname">
      -Mark,Senior Manager Loan Officer in Chicago
    </div>
  </div>

  <div class="review-card">
    <div class="review-image-container">
      <img
        src="../css/assets/images/review3.png"
        alt="Reviewer Image"
        class="review-image"
      />
    </div>
    <div class="review-text">
      "Its so great to be part of the organisation that is looking for soltuions
      and creativity versus creating barriers that cause problem"
    </div>
    <div class="review-textname">-John,Mortage Loan Officer in Charleston</div>
  </div>
</div>
