<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1 class="split-title">Get the Citizens advantage</h1>
    <div class="underline"></div>
    <div class="split-content">
      <div class="split-left">
        <h3 class="small-title">Unique Products</h3>
        <p class="split-subtitle">
          Our loan programs offer a variety of solutions to help you compete
          effectively across a broad spectrum of borrowers. With our strong
          balance sheet, we can offer great conventional and portfolio loan
          products that give you a competitive edge. Learn more about our
          products.
        </p>
      </div>
      <div class="vertical-line"></div>
      <div class="split-right">
        <h3 class="small-title">Exceptional Support</h3>
        <p class="split-subtitle">
          We’ll support you in generating leads and marketing, as well as
          implementing technology and secondary marketing. Our Lead Advantage
          program reaches prospects in the market for a mortgage, while our
          loyalty mail program will keep you in touch with current customers.
        </p>
      </div>
    </div>
    <div class="split-content">
      <div class="split-left">
        <h3 class="small-title">Closing on-time,Everytime</h3>
        <p class="split-subtitle">
          We expanded our regional operations centers to help to support you and
          take care of paperwork during closing time. Our one-team "pod"
          operations approach helps to create satisfied customers and refferal
          sources.
        </p>
      </div>
      <div class="vertical-line"></div>
      <div class="split-right">
        <h3 class="small-title">You'll have a voice</h3>
        <p class="split-subtitle">
          In order to give our customers the best service, we’ll give you a real
          voice in how we operate. Through our Sales Advisory Board, Sales
          Conferences, and our Top Producers Council, you can drive real change
          in the company.
        </p>
      </div>
    </div>
  </body>
</html>
